.layout__container {
  background-color: var(--main-bg);
  width: 100%;
  min-height: 99vh;
  display: grid;
  grid-template-columns: [margin-left] 64px [side] var(--stripe-width) [content] 1fr [margin-right] 64px;
  grid-template-rows: [margin-top] 64px [header] var(--stripe-width) [menu] 64px [content] 1fr [margin-bottom] 64px;
}

.vertical-line {
  grid-column: 2 / 3;
  grid-row: 1 / 6;
  background-color: var(--blue);
}

.sticky-part {
  position: sticky;
  top: 64px;
  left: 0;
  width: 99.2vw;
  height: 164px;
  display: grid;
  grid-template-columns: [margin-left] 64px [side] var(--stripe-width) [content] 1fr [margin-right] 64px;
  grid-template-rows: [header] var(--stripe-width) [menu] 64px;
}

.horizontal-line {
  background-color: var(--yellow);
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.intersection {
  background-color: var(--green);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.layout--menu {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--main-bg);
}

main {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
