.gallery__container {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.gallery__container ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.gallery__container ul::after {
  content: "";
  flex-basis: var(--gallery-item-lg);
}

.gallery-item__container {
  border: solid black 1px;
  width: var(--gallery-item-lg);
  height: var(--gallery-item-lg);
}

.gallery-item__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
